# My Darrin global local gate example

# Backoffice gate
NEXT_PUBLIC_GATE_USERNAME=ownergate
NEXT_PUBLIC_GATE_PASSWORD=CHANGE_ME
NEXT_PUBLIC_BACKEND_GATE_AUTHORIZATION=Basic CHANGE_ME

# Backend gate
ENABLE_BASIC_AUTH_GATE=true
BASIC_AUTH_GATE_USERNAME=ownergate
BASIC_AUTH_GATE_PASSWORD=CHANGE_ME

# Mobile preview gate
EXPO_PUBLIC_PREVIEW_GATE_USERNAME=ownergate
EXPO_PUBLIC_PREVIEW_GATE_PASSWORD=CHANGE_ME
EXPO_PUBLIC_BACKEND_GATE_AUTHORIZATION=Basic CHANGE_ME
