APP_NAME=My Darrin API
APP_VERSION=0.2.0
API_V1_PREFIX=/api/v1

# Cloud SQL PostgreSQL (Google Cloud)
DATABASE_URL=postgresql+psycopg://mydarrin_app:YOUR_CLOUD_SQL_PASSWORD@34.155.95.43:5432/mydarrin?sslmode=require

# JWT
JWT_SECRET=CHANGE_ME
JWT_ALGORITHM=HS256
JWT_EXPIRATION_HOURS=24

# Gemini 2.5 Flash
# Se seteaza doar local sau in mediu de productie.
GOOGLE_API_KEY=sk-...
BACKEND_CORS_ORIGINS=http://127.0.0.1:3000,http://localhost:3000,http://172.30.176.1:3000

# Security Gate local
ENABLE_BASIC_AUTH_GATE=true
BASIC_AUTH_GATE_USERNAME=ownergate
BASIC_AUTH_GATE_PASSWORD=CHANGE_ME
