NEXT_PUBLIC_API_BASE_URL=https://mydarrin-backend-792782430639.europe-west9.run.app
NEXT_PUBLIC_GATE_USERNAME=ownergate
NEXT_PUBLIC_GATE_PASSWORD=CHANGE_ME
NEXT_PUBLIC_BACKEND_GATE_AUTHORIZATION=Basic CHANGE_ME
